<mat-toolbar color="primary" class="main-toolbar">
  <span class="title">Expert Institute Technical Assignment</span>
  <span class="spacer"></span>
  <div class="nav-buttons">
    <button mat-button routerLink="/home" class="nav-button">
      <span class="nav-label">Home</span>
    </button>
    <button mat-button routerLink="/assets" class="nav-button">
      <span class="nav-label">Assets</span>
    </button>
    <button mat-button routerLink="/wallet" class="nav-button">
      <span class="nav-label">Wallet</span>
    </button>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
